<h1>Choose a method</h1>
<form action="/route" method="POST">
    <input type="radio" name = "method" value="post">POST</input>
    <input type="radio" name = "method" value="get">GET</input><br>
    <input type="submit" value="Send">
</form>
